@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

*{margin:0;padding:0;list-style:none}

body{box-sizing:border-box;font-family:Montserrat, sans-serif;font-size:14px}
form{background:#fff;justify-content:space-between;display:flex;color:#797979}
form>div{width:33%;max-width:219px}
select{background:#fff;width:100%;color:#a8a8a8;outline:none;font-size:.875rem;border:1px solid #a8a8a8;border-radius:20px;appearance:none;-webkit-appearance:none;-moz-appearance:none;padding:11px 18px;font-family:Montserrat, sans-serif}
p{font-size:14px;margin:11px 0 22px}
p span{font-weight:bold}

h3{margin-bottom:9px;color:#257556;font-size:18px;font-weight:bold}

ul.box{display:flex;flex-wrap:wrap;list-style:none;justify-content:space-evenly}
ul.box>li{height:284px;width:268px}
ul.box>li:nth-child(3n+2){margin:0 32px 32px 32px}
ul.box>li>div{justify-content:space-between;padding:32px;background:#fff;box-sizing:border-box;border-radius:5px;display:flex;flex-direction:column;align-items:center;height:100%}
ul.box>li>div>img{width:100%;max-width:170px;display:flex;justify-content:center}
ul.box .box-content{width:100%}
ul.box .box-info{display:flex;justify-content:space-between;align-items:center}
ul.box .box-info ul{display:flex;align-items:center}
ul.box .box-info li{display:inline-block;margin-left:5px}
ul.box .box-info img{width:25px}
ul.box .box-info span{color:#257556;font-size:18px;font-weight:bold}

.wrapper-item{position:relative}
.wrapper-item::after{content:'';display:block;background:url("../img/ico-arrow_down.png") 0 0 no-repeat transparent;background-size:100%;width:20px;height:10px;position:absolute;right:15px;top:5px}
.logo{background:url("../img/logo.png") 0 0 no-repeat transparent;width:209px;height:25px;display:block}
.logo span{display:none}
.selection{background:#fff;display:flex;justify-content:center;align-items:start;flex-direction:column}
.selection h2{margin:45px 0 56px;font-size:3.429rem;color:#0B2A1E;max-width:500px}
.result{box-sizing:border-box;padding:20px 0 60px;background:#F2F2F2}
.result h2{font-size:2.714rem;color:#A9A9A9}
.result h2 + p{font-size:1.143rem;color:#A9A9A9;line-height:27px;max-width:250px}
.result .page-content{display:flex;justify-content:space-between;align-items:center}
.result .page-content.done{display:block}
.result .page-content.done h2{color:#0C261C;font-size:3.429rem;margin:20px 0 68px}
.result .page-content.done>img{width:158px;margin-left:0}
.target,
.page-content{width:100%;max-width:872px;margin:0 auto}

#backButton{display:block;border:1px solid #15573F;box-sizing:border-box;border-radius:25px;width:100%;color:#196146;font-size:16px;text-align:center;text-align:center;padding:16px 0;line-height:16px;cursor:pointer;margin-top:60px;position:relative}
#backButton img{width:20px;position:relative;top:2px;left:-10px}

@media only screen and (max-width:600px){
  /*//////////////////*/
  /* Styles of Slider */
  /*//////////////////*/
  .z-slide-wrap{position:relative;display:block;height:284px;overflow:hidden}.z-slide-content{position:relative;width:100%;margin:0 auto;height:100%;margin:0 auto;padding:0;list-style:none;overflow:hidden}.z-slide-item{width:258px;position:absolute;left:0;top:0;width:100%;height:100%;transform:translate3d(0,0,0)}.z-slide-item>a{position:relative;display:block;width:100%;height:100%;text-decoration:none;background-repeat:no-repeat;background-size:cover;background-position:center}

  form{flex-direction:column;  align-items:center}
  form>div{margin-bottom:25px;width:100%;max-width:100%}
  p{margin:5px 0 16px}

  ul.box>li{width:80%;max-width:288px;padding-left:20px;}
  ul.box>li:nth-child(3n+2){margin:0}

  .page-content{box-sizing:border-box;padding:0 20px}
  .selection{padding-top:20px}
  .selection h2{font-size:2.429rem;margin:25px 0 31px}
  .result{padding:20px 0 40px}
  .result h2{width:80%;}
  .result h2 + p{font-size:1.103rem}
  .result .page-content{display:block}
  .result .page-content>img{width:90%;margin:0 auto;display:block}
  .result .page-content.done{padding:0;}
  .result .page-content.done h2{font-size:2.429rem;margin:20px 0 38px 20px;width:80%}

  #backButton{width:100%;margin:20px auto 0;padding:16px 0;max-width:248px}
  #backButton img{width:16px}
}

/*///////////////////*/
/* Styles of Spinner */
/*///////////////////*/
#spinner{position:fixed;width:100%;height:100%;background:rgb(255,255,255,.75);display:flex;justify-content:center;align-items:center}.sk-cube-grid{width:40px;height:40px}.sk-cube-grid .sk-cube{width:33%;height:33%;background-color:#1a825a;float:left;-webkit-animation:sk-cubeGridScaleDelay 1.3s infinite ease-in-out;animation:sk-cubeGridScaleDelay 1.3s infinite ease-in-out}.sk-cube-grid .sk-cube1{-webkit-animation-delay:.2s;animation-delay:.2s}.sk-cube-grid .sk-cube2{-webkit-animation-delay:.3s;animation-delay:.3s}.sk-cube-grid .sk-cube3{-webkit-animation-delay:.4s;animation-delay:.4s}.sk-cube-grid .sk-cube4{-webkit-animation-delay:.1s;animation-delay:.1s}.sk-cube-grid .sk-cube5{-webkit-animation-delay:.2s;animation-delay:.2s}.sk-cube-grid .sk-cube6{-webkit-animation-delay:.3s;animation-delay:.3s}.sk-cube-grid .sk-cube7{-webkit-animation-delay:0s;animation-delay:0s}.sk-cube-grid .sk-cube8{-webkit-animation-delay:.1s;animation-delay:.1s}.sk-cube-grid .sk-cube9{-webkit-animation-delay:.2s;animation-delay:.2s}@-webkit-keyframes sk-cubeGridScaleDelay{0%,100%,70%{-webkit-transform:scale3D(1,1,1);transform:scale3D(1,1,1)}35%{-webkit-transform:scale3D(0,0,1);transform:scale3D(0,0,1)}}@keyframes sk-cubeGridScaleDelay{0%,100%,70%{-webkit-transform:scale3D(1,1,1);transform:scale3D(1,1,1)}35%{-webkit-transform:scale3D(0,0,1);transform:scale3D(0,0,1)}}